:root{
    --color: #e6007e;
    --txt: rgb(185, 185, 185)
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: var(--txt);

    /*note: outline 1px solid red*/

}

.content {
    width: 100vw;
    height: 100Vh;
}

.content,
.logo{
    display: flex;
    flex-flow:row wrap ;
}


/*left*/

.background {
    background-image: url(./assets/lexi-laginess-YcUTOrKNTvg-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px;
}

h1{
    color: white;
}


